<!DOCTYPE html>
 
<html>
 
<head>
    <title>
        Simple Webpage
    </title>
    <link rel="stylesheet" href="G:\Nimap\Nimap\MyApp\src\app\header\header.component.css">
</head>
 
<body>
    <nav class="navbar background">
        <ul class="nav-list">
            <div class="logo">
                

                <img src="C:\Users\Admin\Downloads\IMG_20230222_181353.jpg">
            </div>
            <li><a href="#home">Home</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <li><a href="#aboutus">About Us</a></li>
            <li><a href="#jobs">Jobs</a></li>
            <li><a href="#employees">Employees</a></li>
        </ul>
 
        <div class="rightNav">
            <input type="text" name="search" id="search">
            
            
            <a href="D:\Nimap\MyApp\src\app\user-registration\user-registration.component.html">Register Here</a>
            <button class="btn btn-sm">Search</button>
        </div>
    </nav>
 
    <section class="firstsection">
        <div class="box-main">
            <div class="firstHalf">
                <h1 class="text-big" id="web"></h1>
                 
               
 
 
            </div>
        </div>
    </section>
 
    <section class="secondsection">
        <div class="box-main">
            <div class="secondHalf">
                <h1 class="text-big" id="program"></h1>
                
 
 
            </div>
        </div>
    </section>
 
    <section class="section">
        <div class="paras">
            <h1 class="sectionTag text-big"></h1>
 
            
 
        </div>
 
       
    </section>
 
    
</body>
 
</html>